---
layout: page
headerClass: features
title: Features
subtitle: Systems engineering automation platform for IT sales and services teams designing, configuring and pricing cloud and storage solutions.
---

<div class="features">
  <div class="sticky-menu" id="stickyNav">
    <ul>
      <li><a class="active" href="#design-automation">Design Automation</a></li>
      <li><a class="" href="#hardware-asset-intelligence">Hardware Asset Intelligence</a></li>
      <li><a class="" href="#workload-assessment">Workload Assessment</a></li>
      <li><a class="" href="#core-features">Core Features</a></li>
    </ul>
  </div>

{% include feature.html id='design-automation' %}

{% include feature.html id='hardware-asset-intelligence' %}

{% include quote.html id=1 %}

{% include feature.html id='workload-assessment' %}

{% include feature.html id='core-features' %}

{% include alliances.html %}
