---
layout: page
headerClass: netapp
title: NetApp Lanamark One
subtitle: Systems engineering automation platform for NetApp and NetApp business partners.
---

<div class="features pricing netapp">

  <div class="section netapp-tools">
    <div class="inner">
      <div class="columns columns--two">
        <div class="column">
          <i class="icon sso"></i>
          <h3>Go to NetApp Lanamark One</h3>
          <a href="https://lanamark.netapp.com" target="lanamark-one" class="button secondary">SSO Logon</a>
      </div>
        <div class="column">
          <i class="icon community"></i>
          <h3>NetApp Community</h3>
          <a href="https://private-communities.netapp.com/community/netapp_partners_network/netapp_tools/lanamark_one" target="lanamark-one-community" class="button secondary">Visit now</a>
        </div>
      </div>
    </div>
  </div>

  {% include feature.html id='netapp' %}

  {% include quote.html id=2 %}

  {% include feature.html id='workload-assessment' %}

</div>

{% include alliances.html %}
