---
layout: page
headerClass: pricing
title: Pricing
subtitle: Simple, company-based subscription pricing for IT sales and services organizations.
---

<div class="pricing">

  {% include pricing.html %}

  <div class="section promo-panel">
    <div class="inner">
      <div class="wrap">
        <span class="title">NetApp Lanamark One pricing</span>
        <div class="call-to-action to-right">
          <a href="{{ site.baseurl }}/netapp.html" class="button secondary bigger">Learn more <span class="arrow"></span></a>
        </div>
      </div>
    </div>
  </div>

</div>

{% include alliances.html %}
