<div class="section form">
  <div class="inner">
    <form class="contact-form " method="POST" action={{ site.formaction }}>
      <input type="text" name="firstname" placeholder="Your first name" />
      <input type="text" name="lastname" placeholder="Your last name" />
      <input type="email" name="_replyto" placeholder="Your email" />
      {% include country.html %}
      <textarea name="message" rows="5" placeholder="Your message"></textarea>
      <input type="text" name="_gotcha" style="display:none">
      <button  class="button-form one" type="submit">Send</button>
    </form>
  </div>
</div>

