<head>
  <meta charset="utf-8">
  <title>{{ page.tile }}</title>
  <meta name="author" content={{ page.autor }}>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>

  <link rel="stylesheet" href="{{ "/assets/styles/css/main.css?4" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href={{ "/assets/images/favicon.ico" | prepend: site.baseurl }} type="image/x-icon">

  <script src="https://use.typekit.net/asl4qwy.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
