{% for pricing in site.pages %}
  {% if pricing.type == 'pricing' %}
    <div class="section price-tables">
      <div class="inner">
        <div class="wrap">
          <h2>{{ pricing.title }}</h2>

          <div class="columns prices">
            {% for price in pricing.prices %}
              <div class="column">
                <div class="type">{{ price.header }}</div>
                <div class="price-box">
                  <div class="highlighted">
                    <span class="price">{{ price.cost }}</span>
                    <span class="month">per year</span>
                  </div>
                  {% for feature in price.features %}
                    <div class="feature"><span>{{ feature }}</span></div>
                  {% endfor %}
                  <div class="signup">
                    <span class="units">{{ price.units }} Engagement Units</span>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

          <h3>Engagement Units (EUs)</h3>
          <div class="columns engagement">
            <div class="column first">
              <p>Each EU covers up to 50 machines per client engagement</p>
            </div>
            <div class="column">
              <p>Additional EUs can be purchased in blocks of 5 for $5,000</p>
            </div>
            <div class="column last">
              <p>50% discount on EUs at the start or upon renewal of a subscription</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
